* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #190f70;
}

#root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgba(25, 15, 112, 0.5) 0%, rgba(8, 79, 163, 0.5) 35%, rgba(218, 104, 235, 0.5) 100%);
}
