* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    font-weight: 500;
}

#root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

p {
    font-weight: normal;
    margin-top: 1em;
}

.morning {
    background: linear-gradient(45deg, #A9D2F9 0%, #FFE7AA 100%);
}

.daytime {
    background: linear-gradient(45deg, #76A9F4 0%, #E9F2FF 100%);
}

.evening {
    background: linear-gradient(45deg, #6659C9 0%, #C57979 70%, #FFE17C 100%);
}

.night {
    background: linear-gradient(45deg, #3A3A58 0%, #6974D8 100%);
    color: #000;
}

.desktopTabsContainer {
    display: flex;
    flex-direction: row;
}

.mobileTab {
    position: relative;
    min-width: fit-content;
    width: 7em;
    top: 5px;
    text-align: center;
    background: #fff;
    border: 5px solid #000;
    border-bottom: none;
    border-radius: 20px 20px 0px 0px;
    padding: 0.5em;
}

.tab {
    position: relative;
    z-index: 0;
    width: 7em;
    top: 5px;
    text-align: center;
    background: #000;
    color: #fff;
    border: 5px solid #000;
    border-bottom: none;
    border-radius: 20px 20px 0px 0px;
    padding: 0.5em;
    cursor: pointer;
}

.tab:hover, .tab.selected {
    background: #fff;
    color: #000;
}

.tab.selected {
    z-index: 1;
}

.filingCabinet {
    width: 95%;
    height: 95%;
}

.content {
    background: #fff;
    padding: 1em;
    word-wrap: break-word;
    border: 5px solid #000;
    border-radius: 0px 20px 20px;
    min-height: 15em;
}

.content.selected {
    visibility: visible;
}

#aboutContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#aboutContent #portrait {
    border: 5px solid #000;
    border-radius: 20px;
    max-width: 20em;
    max-height: 20em;
}

#aboutContent #aboutText {
    width: 75%;
}

#aboutText #heading {
    text-align: center;
}

#aboutText #icons {
    margin-top: 1em;
    text-align: center;
}

#aboutText #icons a {
    font-size: 1.5em;
    padding: 0.25em;
}

.project {
    display: flex;
    align-items: center;
    padding: 0.5em;
    margin: 0.5em 0em;
    border: 5px solid #000;
    border-radius: 20px;
}

.projectDemo, .projectDescription {
    margin: 0em 0.75em;
}

@media only screen and (max-width: 600px) {
    .desktopTabsContainer {
        display: none;
    }

    .folder {
        margin-bottom: 2em;
    }

    #aboutContent {
        flex-direction: column;
    }

    .project {
        flex-direction: column;
    }

    #aboutContent #aboutText {
        margin-top: 2em;
    }

    .projectDemo {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .content {
        visibility: hidden;
    }

    .mobileTab {
        display: none;
    }

    .folders {
        position: relative;
    }
    
    .folder {
        position: absolute;
        width: 100%;
    }

    #aboutContent #aboutText {
        margin-left: 2em;
    }

    .projectDemo {
        width: 50%;
    }
}
